{% extends "layout.html" %}

{% block title %}{{categoria.nombre}}{% endblock %}

{% block content %}

<main class="container-fluid">
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-{{color}}">{{categoria.nombre}}</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">{{categoria.descripcion}}</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 my-4 justify-content-md-around">
        {% for lugar in lugares %}
            <div class="col">
              <div class="card h-100 border-{{color}}">
              <img src="{{url_for('static', filename='images/lugares/'+lugar.imagen)}}"
                class="card-img-top"
                alt="{{lugar.nombre}}"
                style="max-height: 200px;"
                >
              <div class="card-body">
                <h5 class="card-title"><b>{{ lugar.nombre }}</b></h5>
                <p class="card-text">{{lugar.descripcion}}</p>
              </div>
              <div class="card-footer bg-transparent border-{{color}}">
                <a href="/lugar/{{lugar.nombre}}" class="btn btn-{{color}} d-block">explorar el sitio</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</main>

{% endblock %}