<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%} - TurismApp</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <link href="https://file.myfontastic.com/sk8yQ6MwYAwrJK8oLxSrSF/icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83ff7c4d32.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="container container--flex">
            <div class="logo-container column column--50">
                <h1 class="logo">Turismo en Nayón</h1>
            </div>
            <div class="main-header__contactInfo column column--50">
                <p class="main-header__contactInfo__phone">
                    <span class="icon-phone">022-215-235</span>
                </p>
                <p class="main-header__contactInfo__address">
                    <span class="icon-location">Turismapp@servicios.com</span>
                </p>
            </div>
        </div>
    </header>
    
    <nav id="nav">
        <ul>
            <li><a href="/" onclick="toggle()">Home</a></li>
            <li><a href="/about" onclick="toggle()">About</a></li>
            <li><a href="#" onclick="toggle()">Contactos</a></li>
            <li><a href="#" onclick="toggle()">Nosotros</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
        <div class="social-icon">
            <a href="facebook.com" target="_blank" class="fab fa-facebook-square"></a>
            <a href="twitter.com" target="_blank" class="fab fa-twitter-square"></a>
            <a href="mailto:mailQexample.com" target="_blank" class="fas fa-envelope"></a>
        </div>
    </nav>
    <section class="banner">
        <img src="{{url_for('static', filename='images/fondo.jpg')}}" alt="_imgBanner" class="banner__img">
        <div class="banner__content">Viaja seguro a Nayón</div>
    </section>

    {% block content %}
    {% endblock %}

    <footer class="main--footer">
        <div class="coontainer container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por qué elegirnos?</h2>
                <p class="column__txt">Nosotros ofrecemos Lugares de gran Diversión y Entretenimiento</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contactanos</h2>
                <p class="column__txt">Ing. David Quishpe; Desarrollador web</p>
                <p class="column__txt">Teléfono: 022-215-235</p>
                <p class="column__txt"><i class="fas fa-envelope"> turismapp@servicios.com</i></p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Síguenos en</h2>
                <p class="column__txt"><a href="" style="color:white"><i class="fab fa-facebook-square">
                            Facebook</i></a></p>
                <p class="column__txt"><a href="" style="color:white"><i class="fab fa-twitter-square"> Twitter</i></a>
                </p>
            </div>
            <p class="copy">Copyright (c) 2021 TurismApp
                Todos los derechos reservador</p>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/menu.js')}}"></script>
</body>

</html>